@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

:root {
  /*colors*/
  --black: #1c232b;
  --grey: #6c7289;
  --cream: #f2eae2;
  --white: #ffffff;
  --green-500: #3d8168;
  --green-700: #1a4032;
  /*fonts*/
  --font-fraunces: "Fraunces", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-xl: 700 3.2rem/1 var(--font-fraunces);
  --font-btn: 700 1.4rem/1.1 var(--font-montserrat);
  --font-body: 500 1.4rem/1.6 var(--font-montserrat);
  --font-s: 500 1.3rem/1.2 var(--font-montserrat); 
  --font-xs: 500 1.2rem/1.2 var(--font-montserrat); 
  /*spacing*/
  --space-50: 0.4rem;
  --space-100: 0.8rem;
  --space-200: 1.6rem;
  --space-300: 2.4rem;
  --space-400: 3.2rem;
  --space-500: 4rem;
}

.sr-only {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main,
.card,
.card_content-wrapper,
.card_content-text-wrapper,
.card_price-wrapper {
  display: flex;
}

main {
  background-color: var(--cream);
  flex-flow: column;
  place-items: center;
}

.card {
  flex-flow: column;
  gap: 0;
  margin-block: var(--space-500);
  max-width: 35rem;
  border-radius: var(--space-100);
  overflow: hidden;
}

.card_img-wrapper {
  height: 34.2rem;
  overflow: hidden;
}

.card_img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
}

.card_content-wrapper {
  flex-flow: column;
  gap: var(--space-300);
  padding: var(--space-400);
  background-color: var(--white);
}

.card_content-text-wrapper {
  flex-flow: column;
  gap: var(--space-300);
}

.card_title {
  font: var(--font-xl);
  color: var(--black);
}

.card_category {
  order: -1;
  font: var(--font-xs);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: var(--grey);
}

.card_description {
  font: var(--font-body);
  color: var(--grey);
}

.card_price-wrapper {
  gap: var(--space-200);
  align-items: center;
}

.card_current-price {
  font: var(--font-xl);
  color: var(--green-500);
}

.card_old-price {
  font: var(--font-s);
  color: var(--grey);
  text-decoration: line-through;
}

.card_btn {
  padding-block: var(--space-200);
  padding-inline: var(--space-400);
  background-color: var(--green-500);
  color: var(--white);
  border-radius: 0.8rem;
  font: var(--font-btn);
  text-decoration: none;
  text-align: center;
  transition: 0.3s ease-out;
}

.card_btn:hover,
.card_btn:focus {
  background-color: var(--green-700);
}

.card_btn-icon {
  content: url(../images/icon-cart.svg);
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: bottom;
  margin-inline-end: var(--space-100);
}

/*attribution*/
.attribution {
  font: var(--font-body);
  text-align: center;
  padding-block-start: var(--space-500);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 768px) {
  main {
    width: 100vw;
    height: 100vh;
    display: flex;
    place-content: center;
  }
  .card {
    flex-flow: row;
    height: 46.2rem;
    max-width: 60rem;
  }

  .card_img-wrapper,
  .card_content-wrapper {
    width: 50%;
  }

  .card_img-wrapper {
    height: 100%;
  }
}
