:root {
  /*colors*/
  --black: #1c232b;
  --grey: #6c7289;
  --cream: #f2eae2;
  --white: #ffffff;
  --green-500: #3d8168;
  --green-700: #1a4032;
  /*fonts*/
  --font-fraunces: "Fraunces Bold", serif;
  --font-montserrat-bold: "Montserrat Bold", sans-serif;
  --font-montserrat-medium: "Montserrat Medium", sans-serif;
  --font-xl: 3.2rem/1 var(--font-fraunces);
  --font-btn: 1.4rem/1.1 var(--font-montserrat-bold);
  --font-body: 1.4rem/1.6 var(--font-montserrat-medium);
  --font-s: 1.3rem/1.2 var(--font-montserrat-medium); /*strikethrough*/
  --font-xs: 1.2rem/1.2 var(--font-montserrat-medium); /*letter-spacing: .5rem;*/
  /*spacing*/
  --space-50: 0.4rem;
  --space-100: 0.8rem;
  --space-200: 1.6rem;
  --space-300: 2.4rem;
  --space-400: 3.2rem;
  --space-500: 4rem;
}

@font-face {
  font-family: "Fraunces Bold", serif;
  src: url("../fonts/Fraunces/Fraunces_72pt-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat Bold", sans-serif;
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat Medium", sans-serif;
  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
}

.sr-only {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  place-items: center;
}

.card {
  display: flex;
  flex-flow: column;
  gap: 0;
  margin-block: var(--space-500);
  max-width: 35rem;
  border-radius: var(--space-100);
  overflow: hidden;
}

.card_img-wrapper{
    height: 34.2rem;
  overflow: hidden;
}

.card_img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
}

.card_content-wrapper {
  display: flex;
  flex-flow: column;
  gap: var(--space-300);
  padding: var(--space-400);
  background-color: var(--white);
}

/*attribution*/
.attribution {
  font: var(--font-body);
  text-align: center;
  padding-block-start: var(--space-500);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
